body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #F9FAF8
}

.subtext {
    font-size: 18px;
    color: #E5E7EB
}

.container {
    display:flex;
    flex:1;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container-header {
    display: flex;
    flex-direction: column;
    padding: 0 15vw;
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    padding: 0px 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-subhead {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    flex: 1;
    justify-content: space-between;
    margin: 100px 0;
}

.subhead-text {
    flex: 1;
    flex-direction: column;
}

.subhead-text button {
    margin: 10px 0px;
    padding: 8px 30px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.subhead-img {
    flex: 1;
    display: flex;
    background-color: #6d737c;
    align-items: center;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}




.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 20vw; */
    gap: 50px;

}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 120px;
}

.info {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-image {
    padding:80px 80px;
    border:solid 3px #3882F6;
    border-radius: 10px;
}

.info-text {
    text-align: center;
    font-size: 18px;
    color: #1F2937
}




.container-testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 120px 20vw;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937
}

.testimonial-author {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}




.container-mod {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
    gap: 100px;
}

.mod {
    display: flex;
    flex-wrap: wrap;
    /* gap: 100px; */
    width: 50%;
    padding: 50px 50px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.mod-text h2,
.mod-text .subtext {
    flex: 1;
    padding: 0;
    margin: 0;
}

.mod button {
    margin: 10px 0px;
    padding: 8px 30px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}


.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}